
# Ignore files that aren't necessary
*.xml
*.iml
*.DS_store
review.json
# Ignore the virtual environment
venv
# Ignore folders that aren't necessary
.vscode
__pycache__
# Ignore private files
YelpAPI.py


