


{% extends '/base.html' %}

{% block title %} Food Sentiments {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1> Food Sentiments </h1>
            <small class="text-secondary">Analyze food sentiments of reviews of food from restaurants on Yelp.</small> <br>
        </div>
    </div>
</div>

<br>

<div class="container search-section">
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="input-group mb-3">
                    <div class="col-7">
                        <input name="term" type="text" class="form-control" placeholder="Food (i.e. tacos)" >
                    </div>
                        <input name="location" type="text" class="form-control" placeholder="City (i.e. Irvine)" aria-label="Search" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" id="search">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if businesses %}
<div class="container">
    <div class="row">
        <div class="col">
            <small class="text-secondary"> <b>Showing results for: </b>{{term}} in {{location}}</small>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Business</th>
                        <th scope="col">Reviews</th>
                        <th scope="col">Overall Rating</th>
                        <th scope="col">Sentiment Score</th>
                        <th scope="col">Overall Sentiment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in businesses: %}

                            <tr>

                                <th scope="row">
                                    <a href="{{ url_for('business', bid=b.id) }}">
                                        {{b.name}}
                                    </a>
                                </th>

                                <td>{{b.review_count}}</td>
                                <td>{{b.rating}}</td>
                                <td>{{b.sentiment_score}}</td>
                                <td>{{b.overall_sentiment}}</td>
                            </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
