


{% extends 'base.html' %}

{% block home %} active {% endblock %}
{% block about %}  {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1> {% block title %} Food Sentiments {% endblock %} </h1>
            <small class="text-secondary">Analyze food sentiments of reviews of food from restaurants on Yelp.</small> <br>
            <small class="text-secondary"><a href="https://github.com/membriux/food-sentiment">GitHub Repository</a></small> <br>
        </div>
    </div>
</div>

<br>

<div class="container search-section">
    <form method="post">
        <div class="mb-3">
            <input name="term" type="text" class="form-control" placeholder="Food (i.e. tacos)" >
        </div>

        <div class="input-group mb-3">
          <input name="location" type="text" class="form-control" placeholder="City (i.e. Irvine)" aria-label="Search" aria-describedby="button-addon2">
          <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit" id="search">Search</button>
          </div>
        </div>

    </form>
</div>

{% if businesses %}
<div class="container">

    <div class="row">
        <div class="col">
            <small class="text-secondary"> <b>Showing results for: </b>{{term}} in {{location}}</small>
            <br>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Business</th>
                    <th scope="col">Reviews</th>
                    <th scope="col">Overall Rating</th>
                    <th scope="col">Sentiment Score</th>
                    <th scope="col">Overall Sentiment</th>
                </tr>
            </thead>
            <p class="text-secondary">
                Sentiment score range from -1 and 1 |
                Oveall rating range from 0 - 5
            </p>
            <tbody>
                {% for b in businesses: %}

                        <tr>

                            <th scope="row">
                                <a href="{{ url_for('business', bid=b.id) }}">
                                    {{b.name}}
                                </a>
                            </th>

                            <td>{{b.review_count}}</td>
                            <td>{{b.rating}}</td>
                            <td>{{b.sentiment_score}}</td>
                            <td>{{b.overall_sentiment}}</td>
                        </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="row">
        <div class="col">
            <h2 class="text-center">At a Glance</h2>
            <h4 class="text-center">
                Highest sentiment-score:
                <span class="text-info">
                    {{topsent.name}} - {{topsent.sentiment_score}}
                </span> |
                Highest rating:
                <span class="text-info">
                    {{toprating.name}} - {{toprating.rating}}
                </span>
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="chart">
               <embed type="image/svg+xml" src= {{ schart|safe }} />
            </div>
        </div>
        <div class="col">
            <div id="chart">
               <embed type="image/svg+xml" src= {{ rchart|safe }} />
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col text-center">
            <h4> Sentiment score vs. Rating Analysis</h4>
            <small class="text-secondary">
                Sentiment score and rating adjusted to range 0 to 2 for comparison.
            </small>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div id="chart">
               <embed type="image/svg+xml" src= {{ srchart|safe }} />
            </div>
        </div>
        <div class="col-2"></div>
    </div>

</div>
{% endif %}
{% endblock %}
