<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Food Sentiment</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

        </nav>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1> Food Sentiments </h1>
                    <small class="text-secondary">Analyze food sentiments of reviews of food from restaurants on Yelp.</small> <br>
                </div>
            </div>
        </div>

        <br>

        <div class="container search-section">
            <div class="row">
                <div class="col">
                    <form method="post">
                        <div class="input-group mb-3">
                            <div class="col-7">
                                <input name="term" type="text" class="form-control" placeholder="Food (i.e. tacos)" >
                            </div>
                                <input name="location" type="text" class="form-control" placeholder="City (i.e. Irvine)" aria-label="Search" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit" id="search">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if search%}
        <div class="container">
            <div class="row">
                <div class="col">
                    <small class="text-secondary"> <b>Showing results for: </b>{{term}} in {{location}}</small>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Business</th>
                                <th scope="col">Reviews</th>
                                <th scope="col">Overall Rating</th>
                                <th scope="col">Sentiment Score</th>
                                <th scope="col">Overall Sentiment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for b in businesses: %}
                                <tr>
                                    <th scope="row">{{b.name}}</th>
                                    <td>{{b.review_count}}</td>
                                    <td>{{b.rating}}</td>
                                    <td>{{b.sentiment_score}}</td>
                                    <td>{{b.overall_sentiment}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}








        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
